apiVersion: apps/v1
kind: Deployment
metadata:
  name: dcvm-process-manager
spec:
  selector:
    matchLabels:
      app: dcvm-process-manager
  replicas: 2
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: /actuator/prometheus
      labels:
        app: dcvm-process-manager
    spec:
      containers:
        - name: dcvm-process-manager
          image: ${IMAGE_NAME}
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            failureThreshold: 30
          resources:
            limits:
              cpu: 750m
              memory: 3Gi
            requests:
              cpu: 750m
              memory: 3Gi
          imagePullPolicy: Always
          env:
            - name: JAVA_OPTS
              value: -Xmx2048M
            - name: API
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: api.url
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: srv.dcvm.test.password
            - name: SPRING_MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: srv.dcvm.test.password
            - name: STORAGE_S3_SERVER_KEY_ACCESS
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: s3.key.access
            - name: STORAGE_S3_SERVER_KEY_SECRET
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: s3.key.secret
            - name: STORAGE_DMP_S3_SERVER_KEY_ACCESS
              valueFrom:
                secretKeyRef:
                  name: cvm-s3-dmp-secret
                  key: s3.key.access
            - name: STORAGE_DMP_S3_SERVER_KEY_SECRET
              valueFrom:
                secretKeyRef:
                  name: cvm-s3-dmp-secret
                  key: s3.key.secret
            - name: JIRA_LOGIN
              valueFrom:
                secretKeyRef:
                  name: jira-secrets
                  key: jira.login
            - name: JIRA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jira-secrets
                  key: jira.password
            - name: KAFKA_TOPIC
              valueFrom:
                secretKeyRef:
                  name: cvm-secret
                  key: kafka_topic
            - name: KRB_USER
              value: srv.bdrs-dev
            - name: KEYTAB_PATH
              value: /app/secrets/srv.bdrs-dev.keytab
          volumeMounts:
            - name: keytab
              mountPath: /app/secrets
            - name: krb5-conf
              mountPath: /etc/krb5.conf
              subPath: krb5.conf
              readOnly: true
            - name: application-config
              mountPath: /app/config
              readOnly: true
      imagePullSecrets:
        - name: gitlab-token-all
      volumes:
        - name: krb5-conf
          secret:
            secretName: krb5-conf
        - name: keytab
          secret:
            secretName: srv.bdrs-dev.keytab
        - name: application-config
          configMap:
            name: dcvm-process-manager
            items:
              - key: application.properties
                path: application.properties
        - name: application-secrets
          secret:
            secretName: cvm-secret
            items:
              - key: srv.dcvm.test.password
                path: srv.dcvm.test.password
              - key: s3.key.access
                path: s3.key.access
              - key: s3.key.secret
                path: s3.key.secret
        - name: cvm-s3-dmp-secret
          secret:
            secretName: cvm-s3-dmp-secret
            items:
              - key: s3.key.access
                path: s3.key.access
              - key: s3.key.secret
                path: s3.key.secret
        - name: jira-secrets
          secret:
            secretName: jira-secrets
            items:
              - key: jira.login
                path: jira.password
